#header,
.module caption, .inline-group h2{
    background: pink;
}
#branding h1, #branding h1 a:link, #branding h1 a:visited, {
    color: black;
}

div.breadcrumbs, .module h2, input[type=submit]{
 background: #C71585;
}

